.main{
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}
h1,.a1{
    text-align:center;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
button{
    height: 40px;
    width: 100px;
    background-color: green;
}
body{
    background-color: aquamarine;
}
.main{
    background-color: rgb(52, 159, 201);
}
fieldset{
    background:greenyellow